name: Run Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-biome:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install pnpm
      run: npm install -g pnpm

    - name: Use dev environmental variables
      run: mv .env.development .env.production

    - name: Run build
      run: pnpm build
